@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("//fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
@import url("//fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff") format("woff"); }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.internal-consulting .page-header {
  background-image: url(/en/assets/images/internal_consulting/bg_internal_consulting_header.jpg); }
  @media (min-width: 768px) {
    .internal-consulting .page-header .page-list li a {
      margin-bottom: 15px; }
    .internal-consulting .page-header .page-summary {
      margin-top: 30px; } }
  @media (min-width: 1200px) {
    .internal-consulting .page-header .page-list li a {
      margin-bottom: 0; }
    .internal-consulting .page-header .page-summary {
      margin-top: 50px; } }
.internal-consulting #content {
  padding: 60px 0 105px; }
  @media (min-width: 768px) {
    .internal-consulting #content {
      padding: 90px 0 160px; } }
  @media (min-width: 992px) {
    .internal-consulting #content {
      padding: 80px 0 145px; } }

.note {
  font-size: 15px;
  color: #666;
  line-height: 24px;
  margin-top: 70px; }
  .note i {
    font-style: normal;
    color: #d51d1d; }
  @media (min-width: 768px) {
    .note {
      margin-top: 65px; } }

.sub-title {
  position: relative;
  font-size: 22px;
  color: #333;
  margin: 50px 0 30px; }
  @media (min-width: 768px) {
    .sub-title {
      font-size: 30px; } }

article .article-header {
  padding: 65px 0 40px; }
  article .article-header h4 {
    position: relative;
    font-size: 22px;
    color: #333;
    padding-left: 15px; }
    article .article-header h4:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 2px;
      height: 20px;
      margin-top: -10px;
      display: block;
      content: "";
      background-color: #fba574; }
  article .article-header p {
    font-size: 14px;
    color: #666;
    line-height: 25px;
    margin-top: 20px; }
article.process .dot-list {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  margin-top: 30px; }
@media (min-width: 768px) {
  article.process .article-header .dot-list li {
    font-size: 16px; }
  article .article-header {
    padding: 100px 0 50px; }
    article .article-header h4 {
      font-size: 30px; }
      article .article-header h4:before {
        width: 4px;
        height: 30px;
        margin-top: -15px; }
    article .article-header p {
      font-size: 16px;
      margin-top: 35px; } }

.wt-box {
  padding: 60px 10px 65px;
  border-top: 1px solid #fba574;
  background-color: #fff; }
  @media (min-width: 768px) {
    .wt-box {
      padding: 60px 40px 70px; } }
  @media (min-width: 992px) {
    .wt-box {
      padding: 80px 85px 85px; } }

.dot-list > li {
  position: relative;
  font-size: 13px;
  color: #666;
  line-height: 24px;
  padding-left: 13px; }
  .dot-list > li:before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    content: "\E805";
    font-family: "fontello"; }
@media (min-width: 768px) {
  .dot-list > li {
    font-size: 15px;
    line-height: 26px; } }

.square-list li span {
  background-color: #005c94; }

.proposal section .section-header {
  text-align: center; }
  .proposal section .section-header h3 img {
    display: block;
    margin: 0 auto; }
  .proposal section .section-header .summary {
    font-size: 14px;
    color: #666;
    line-height: 26px;
    text-align: left;
    margin-top: 45px; }
.proposal section .section-content article.process .article-content figure .img-responsive {
  margin: 0 auto; }
@media (min-width: 768px) {
  .proposal section .section-header .summary {
    font-size: 16px;
    line-height: 32px;
    margin-top: 70px; } }
@media (min-width: 992px) {
  .proposal section .section-header .summary {
    margin-top: 60px; } }

.sub-main-top {
  padding-top: 23px !important; }
  @media (min-width: 768px) {
    .sub-main-top {
      padding-top: 70px !important; } }
  @media (min-width: 992px) {
    .sub-main-top {
      padding-top: 110px !important; } }

.competition-pt .summary {
  font-size: 14px;
  color: #666;
  line-height: 26px; }
.competition-pt .article-content figure .img-responsive {
  margin: 0 auto; }
@media (min-width: 768px) {
  .competition-pt .sub-nav {
    height: 82px; }
    .competition-pt .sub-nav .dropdown-menu {
      top: 0; }
      .competition-pt .sub-nav .dropdown-menu li {
        width: 50%; }
        .competition-pt .sub-nav .dropdown-menu li a {
          border-bottom: 1px solid #e0e0e0; }
        .competition-pt .sub-nav .dropdown-menu li:nth-of-type(2) a {
          border-right: 1px solid #e0e0e0; }
  .competition-pt .summary {
    font-size: 16px;
    line-height: 32px; } }

.introduction-pt .summary {
  font-size: 14px;
  color: #666;
  line-height: 26px; }
.introduction-pt .article-content figure .img-responsive {
  margin: 0 auto; }
@media (min-width: 768px) {
  .introduction-pt .sub-nav {
    height: 82px; }
    .introduction-pt .sub-nav .dropdown-menu {
      top: 0; }
      .introduction-pt .sub-nav .dropdown-menu li {
        width: 50%; }
        .introduction-pt .sub-nav .dropdown-menu li a {
          border-bottom: 1px solid #e0e0e0; }
        .introduction-pt .sub-nav .dropdown-menu li:nth-of-type(2) a {
          border-right: 1px solid #e0e0e0; }
  .introduction-pt .summary {
    font-size: 16px;
    line-height: 32px; } }

.onepoint .summary {
  font-size: 14px;
  color: #666;
  line-height: 26px; }
.onepoint .expectation .article-content .square-list li .details-btn {
  margin-top: 25px; }
  .onepoint .expectation .article-content .square-list li .details-btn .btn-blue {
    width: 235px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    background-color: #005f98; }
.onepoint .one-point-consulting .point-list > li ~ li {
  margin-top: 10px; }
.onepoint .one-point-consulting .point-list > li > div {
  width: 100%;
  height: 230px;
  padding: 30px 40px 0;
  margin: 0 auto;
  border: 5px solid #999; }
  .onepoint .one-point-consulting .point-list > li > div span {
    font-size: 24px;
    display: block;
    color: #333;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px; }
  .onepoint .one-point-consulting .point-list > li > div p {
    font-size: 16px;
    color: #333;
    line-height: 26px; }
@media (min-width: 768px) {
  .onepoint .one-point-consulting .point-list {
    font-size: 0; }
    .onepoint .one-point-consulting .point-list > li {
      display: inline-block;
      width: 50%;
      vertical-align: top; }
      .onepoint .one-point-consulting .point-list > li ~ li {
        margin-top: 20px; }
      .onepoint .one-point-consulting .point-list > li:nth-of-type(2n + 1) {
        padding-right: 10px; }
      .onepoint .one-point-consulting .point-list > li:nth-of-type(2n + 2) {
        padding-left: 10px; }
      .onepoint .one-point-consulting .point-list > li:nth-of-type(2) {
        margin-top: 0; }
      .onepoint .one-point-consulting .point-list > li:nth-of-type(5) {
        width: 100%;
        padding: 0; } }
@media (min-width: 1200px) {
  .onepoint .one-point-consulting .point-list > li {
    width: 25% !important;
    margin: 0 !important;
    padding: 0 10px 0 0 !important; }
    .onepoint .one-point-consulting .point-list > li:last-child {
      padding-right: 0 !important; }
    .onepoint .one-point-consulting .point-list > li > div {
      padding: 20px 20px 0; } }
@media (min-width: 768px) {
  .onepoint .summary {
    font-size: 16px;
    line-height: 32px; }
  .onepoint .expectation .article-content .details-btn {
    text-align: left; }
    .onepoint .expectation .article-content .details-btn .btn-blue {
      font-size: 13px !important;
      width: 210px !important; } }
@media (min-width: 1200px) {
  .onepoint .expectation .square-list li {
    /*&:nth-of-type(1) {
        .details-btn {
            top: 5px;
        }
    }
    &:nth-of-type(1) {
        .details-btn {
            top: 30px;
        }
    }
    &:nth-of-type(1) {
        .details-btn {
            top: 15px;
        }
    }*/ }
    .onepoint .expectation .square-list li .details-btn {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -25px !important; } }
.onepoint .modal-consulting .modal-dialog {
  margin-top: 100px;
  margin-bottom: 100px; }
  .onepoint .modal-consulting .modal-dialog .modal-content {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background: none; }
    .onepoint .modal-consulting .modal-dialog .modal-content .modal-header {
      border: 0;
      padding: 0;
      margin-bottom: 20px; }
      .onepoint .modal-consulting .modal-dialog .modal-content .modal-header button {
        font-size: 25px;
        color: #fff;
        opacity: 1 !important; }
        @media (min-width: 768px) {
          .onepoint .modal-consulting .modal-dialog .modal-content .modal-header button {
            font-size: 30px; } }
    .onepoint .modal-consulting .modal-dialog .modal-content .modal-body {
      padding: 0; }
      .onepoint .modal-consulting .modal-dialog .modal-content .modal-body figure .img-responsive {
        margin: 0 auto; }

.orders-process .customer ul li {
  margin-bottom: 45px; }
  .orders-process .customer ul li p {
    font-size: 15px;
    color: #333;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 30px;
    font-style: italic; }
  .orders-process .customer ul li small {
    font-size: 13px;
    color: #333;
    /*font-style: italic;*/
    font-weight: 400; }
.orders-process .summary {
  font-size: 15px;
  color: #666;
  line-height: 22px; }
.orders-process .shipley-process {
  text-align: center;
  padding: 40px 15px 50px;
  margin-top: 60px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9; }
  .orders-process .shipley-process h4 {
    font-size: 18px;
    color: #005c94;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 40px; }
  .orders-process .shipley-process figure .img-responsive {
    margin: 0 auto; }
  .orders-process .shipley-process p {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-top: 40px; }
  .orders-process .shipley-process .btn-details {
    text-align: center;
    margin-top: 50px; }
    .orders-process .shipley-process .btn-details .btn-blue {
      width: 200px;
      font-size: 15px;
      color: #fff;
      line-height: 45px;
      background-color: #005c93; }
.orders-process .expectation .article-content .attention {
  font-size: 12px;
  color: #333;
  opacity: .6;
  font-style: normal;
  display: block;
  margin-top: 5px; }
  @media (min-width: 768px) {
    .orders-process .expectation .article-content .attention {
      font-size: 14px; } }
.orders-process .article-content figure .img-responsive {
  margin: 0 auto; }
@media (min-width: 768px) {
  .orders-process .customer ul li {
    margin-bottom: 50px; }
    .orders-process .customer ul li p {
      font-size: 20px;
      margin-bottom: 20px;
      line-height: 26px; }
    .orders-process .customer ul li small {
      font-size: 16px; }
  .orders-process .summary {
    font-size: 18px;
    line-height: 28px; }
  .orders-process .shipley-process {
    padding: 65px 40px; }
    .orders-process .shipley-process h4 {
      font-size: 24px;
      margin-bottom: 35px; }
    .orders-process .shipley-process p {
      font-size: 16px;
      line-height: 32px;
      margin-top: 60px; }
    .orders-process .shipley-process .btn-details {
      margin-top: 40px; }
      .orders-process .shipley-process .btn-details .btn-blue {
        font-size: 15px; } }

.business-consulting .summary {
  font-size: 14px;
  color: #666;
  line-height: 26px; }
.business-consulting .capture .article-content {
  padding: 35px 15px;
  border: 1px solid #f3f3f3;
  background-color: #fbfbfb; }
  .business-consulting .capture .article-content .dot-list {
    margin-top: 30px; }
.business-consulting .article-content figure .img-responsive {
  margin: 0 auto; }
@media (min-width: 768px) {
  .business-consulting .summary {
    font-size: 16px;
    line-height: 32px; }
  .business-consulting .capture .article-content {
    padding: 50px 25px;
    border: 1px solid #f3f3f3;
    background-color: #fbfbfb; }
    .business-consulting .capture .article-content .dot-list {
      margin-top: 60px; }
      .business-consulting .capture .article-content .dot-list li {
        font-size: 16px;
        line-height: 28px; } }
@media (min-width: 992px) {
  .business-consulting .capture .article-content .dot-list {
    display: block;
    width: 680px;
    margin: 0 auto;
    margin-top: 30px; } }

.business-diagnosis .summary {
  font-size: 14px;
  color: #666;
  line-height: 26px; }
.business-diagnosis .assessment {
  margin-top: 30px;
  padding: 30px 10px 50px;
  border: 1px solid #f3f3f3;
  background-color: #fbfbfb; }
  .business-diagnosis .assessment h5 {
    font-size: 17px;
    color: #005c94;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px; }
  .business-diagnosis .assessment p {
    font-size: 14px;
    color: #666;
    line-height: 25px;
    margin-bottom: 40px; }
  .business-diagnosis .assessment figure .img-responsive {
    margin: 0 auto; }
  .business-diagnosis .assessment .details {
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 50px; }
    .business-diagnosis .assessment .details .details-list > li ~ li {
      margin-top: 30px; }
    .business-diagnosis .assessment .details .details-list > li strong {
      display: block;
      font-size: 16px;
      color: #337ca9;
      margin-bottom: 10px; }
    .business-diagnosis .assessment .details .details-list > li > ul > li {
      font-size: 13px;
      color: #666;
      line-height: 24px; }
      .business-diagnosis .assessment .details .details-list > li > ul > li:before {
        margin-right: 5px;
        color: #337ca9;
        font-family: 'fontello';
        content: "\E805"; }
.business-diagnosis .article-content figure .img-responsive {
  margin: 0 auto; }
.business-diagnosis .process {
  padding-bottom: 60px; }
.business-diagnosis .report {
  padding-bottom: 70px;
  background-color: #f5f5f5; }
  .business-diagnosis .report .article-header h4:before {
    top: 2px;
    margin-top: 0; }
  .business-diagnosis .report .article-content {
    padding: 60px 20px;
    background-color: #fff; }
    .business-diagnosis .report .article-content figure {
      text-align: center; }
      .business-diagnosis .report .article-content figure .img-responsive {
        margin: 0 auto; }
      .business-diagnosis .report .article-content figure figcaption {
        display: inline-block;
        font-size: 15px;
        color: #333;
        text-align: left;
        line-height: 24px;
        margin: 0 auto;
        margin-top: 40px; }
@media (min-width: 768px) {
  .business-diagnosis .sub-nav {
    height: 82px; }
    .business-diagnosis .sub-nav .dropdown-menu {
      top: 0; }
      .business-diagnosis .sub-nav .dropdown-menu li {
        width: 33.33%; }
        .business-diagnosis .sub-nav .dropdown-menu li a {
          border-bottom: 1px solid #e0e0e0; }
        .business-diagnosis .sub-nav .dropdown-menu li:nth-of-type(3) a {
          border-right: 1px solid #e0e0e0; }
  .business-diagnosis .summary {
    font-size: 16px;
    line-height: 32px; }
  .business-diagnosis .assessment {
    margin-top: 50px;
    padding: 50px 35px 80px; }
    .business-diagnosis .assessment h5 {
      font-size: 20px;
      margin-bottom: 30px; }
    .business-diagnosis .assessment p {
      font-size: 16px;
      margin-bottom: 60px; }
    .business-diagnosis .assessment figure {
      vertical-align: top;
      display: inline-block; }
    .business-diagnosis .assessment .details {
      width: 160px;
      display: inline-block;
      margin-top: 0;
      margin-left: 40px; }
      .business-diagnosis .assessment .details .details-list > li > ul > li {
        font-size: 14px; }
  .business-diagnosis .process {
    padding-bottom: 80px; }
  .business-diagnosis .report {
    padding-bottom: 100px; }
    .business-diagnosis .report .article-content {
      padding: 65px 20px 60px; }
      .business-diagnosis .report .article-content figure figcaption {
        font-size: 20px;
        line-height: 30px;
        margin-top: 50px; } }
@media (min-width: 992px) {
  .business-diagnosis .assessment {
    text-align: center;
    padding: 60px 0 80px; }
    .business-diagnosis .assessment h5 {
      text-align: center; }
    .business-diagnosis .assessment p {
      display: inline-block;
      text-align: left;
      margin-bottom: 70px; }
    .business-diagnosis .assessment .details {
      text-align: left;
      margin-left: 90px; }
  .business-diagnosis .process {
    padding-bottom: 70px; }
  .business-diagnosis .report {
    padding-bottom: 80px; }
    .business-diagnosis .report .article-content {
      padding: 70px 0 80px; } }
@media (min-width: 1200px) {
  .business-diagnosis .report .article-content {
    overflow: hidden;
    text-align: center; }
    .business-diagnosis .report .article-content figure {
      display: inline-block; }
      .business-diagnosis .report .article-content figure .img-responsive {
        float: left; }
      .business-diagnosis .report .article-content figure figcaption {
        margin-top: 80px;
        margin-left: 40px;
        float: left; } }

.proposal-diagnosis .summary {
  font-size: 14px;
  color: #666;
  line-height: 26px; }
.proposal-diagnosis .bidbench {
  margin-top: 60px;
  padding: 30px 10px 50px;
  border: 1px solid #f3f3f3;
  background-color: #fbfbfb; }
  .proposal-diagnosis .bidbench h5 {
    font-size: 17px;
    color: #005c94;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px; }
  .proposal-diagnosis .bidbench p {
    font-size: 14px;
    color: #666;
    line-height: 25px;
    margin-bottom: 40px; }
  .proposal-diagnosis .bidbench figure .img-responsive {
    margin: 0 auto; }
  .proposal-diagnosis .bidbench figure figcaption {
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: 25px;
    margin-top: 50px; }
  .proposal-diagnosis .bidbench .details {
    margin-top: 40px; }
    .proposal-diagnosis .bidbench .details h6 {
      text-align: left;
      font-size: 18px;
      color: #337ca9;
      font-weight: bold;
      margin-bottom: 20px; }
    .proposal-diagnosis .bidbench .details ul {
      text-align: left; }
      .proposal-diagnosis .bidbench .details ul > li {
        position: relative;
        font-size: 13px;
        color: #666;
        line-height: 22px;
        padding-left: 15px; }
        .proposal-diagnosis .bidbench .details ul > li:before {
          position: absolute;
          top: 0;
          left: 0;
          color: #337ca9;
          font-family: 'fontello';
          content: "\E805"; }
.proposal-diagnosis .article-content figure .img-responsive {
  margin: 0 auto; }
@media (min-width: 768px) {
  .proposal-diagnosis .sub-nav {
    height: 82px; }
    .proposal-diagnosis .sub-nav .dropdown-menu {
      top: 0; }
      .proposal-diagnosis .sub-nav .dropdown-menu li {
        width: 33.33%; }
        .proposal-diagnosis .sub-nav .dropdown-menu li a {
          border-bottom: 1px solid #e0e0e0; }
        .proposal-diagnosis .sub-nav .dropdown-menu li:nth-of-type(3) a {
          border-right: 1px solid #e0e0e0; }
  .proposal-diagnosis .summary {
    font-size: 16px;
    line-height: 32px; }
  .proposal-diagnosis .bidbench {
    text-align: center;
    padding: 50px 0 80px; }
    .proposal-diagnosis .bidbench h5 {
      font-size: 20px;
      margin-bottom: 30px; }
    .proposal-diagnosis .bidbench p {
      width: 620px;
      display: block;
      text-align: left;
      font-size: 16px;
      margin: 0 auto;
      margin-bottom: 45px; }
    .proposal-diagnosis .bidbench figure {
      vertical-align: top;
      display: inline-block;
      margin-top: 80px; }
    .proposal-diagnosis .bidbench .details {
      display: inline-block;
      width: 220px;
      margin-top: 0;
      margin-left: 50px; }
      .proposal-diagnosis .bidbench .details h6 {
        font-size: 18px; }
      .proposal-diagnosis .bidbench .details ul {
        text-align: left; } }
@media (min-width: 992px) {
  .proposal-diagnosis .bidbench {
    padding: 60px 0 80px; }
    .proposal-diagnosis .bidbench p {
      margin-bottom: 50px; }
    .proposal-diagnosis .bidbench figure {
      margin-top: 0; }
    .proposal-diagnosis .bidbench .details {
      width: 420px; } }
@media (min-width: 1200px) {
  .proposal-diagnosis .bidbench .details {
    margin-left: 130px; } }

.pt-diagnosis .summary {
  font-size: 14px;
  color: #666;
  line-height: 26px; }
.pt-diagnosis .presentation {
  margin-top: 60px;
  padding: 30px 10px 50px;
  border: 1px solid #f3f3f3;
  background-color: #fbfbfb; }
  .pt-diagnosis .presentation h5 {
    font-size: 17px;
    color: #005c94;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 20px; }
  .pt-diagnosis .presentation p {
    font-size: 14px;
    color: #005c94;
    line-height: 25px;
    margin-bottom: 40px; }
  .pt-diagnosis .presentation figure .img-responsive {
    margin: 0 auto; }
  .pt-diagnosis .presentation figure figcaption {
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: 25px;
    margin-top: 50px; }
  .pt-diagnosis .presentation .details {
    margin-top: 40px; }
    .pt-diagnosis .presentation .details ul {
      text-align: left; }
      .pt-diagnosis .presentation .details ul > li {
        position: relative;
        font-size: 13px;
        color: #666;
        line-height: 22px;
        padding-left: 15px; }
        .pt-diagnosis .presentation .details ul > li:before {
          position: absolute;
          top: 0;
          left: 0;
          color: #337ca9;
          font-family: 'fontello';
          content: "\E805"; }
.pt-diagnosis .article-content figure .img-responsive {
  margin: 0 auto; }
@media (min-width: 768px) {
  .pt-diagnosis .sub-nav {
    height: 82px; }
    .pt-diagnosis .sub-nav .dropdown-menu {
      top: 0; }
      .pt-diagnosis .sub-nav .dropdown-menu li {
        width: 33.33%; }
        .pt-diagnosis .sub-nav .dropdown-menu li a {
          border-bottom: 1px solid #e0e0e0; }
        .pt-diagnosis .sub-nav .dropdown-menu li:nth-of-type(3) a {
          border-right: 1px solid #e0e0e0; }
  .pt-diagnosis .summary {
    font-size: 16px;
    line-height: 32px; }
  .pt-diagnosis .presentation {
    text-align: center;
    padding: 50px 0 80px; }
    .pt-diagnosis .presentation h5 {
      font-size: 20px;
      margin-bottom: 30px; }
    .pt-diagnosis .presentation p {
      width: 620px;
      display: block;
      text-align: left;
      font-size: 16px;
      margin: 0 auto;
      margin-bottom: 45px; }
    .pt-diagnosis .presentation .details {
      display: inline-block;
      margin-top: 50px; }
      .pt-diagnosis .presentation .details ul {
        text-align: left; }
        .pt-diagnosis .presentation .details ul li {
          font-size: 14px;
          line-height: 28px; } }
@media (min-width: 992px) {
  .pt-diagnosis .presentation {
    padding: 60px 0 80px; }
    .pt-diagnosis .presentation p {
      margin-bottom: 50px; } }
@media (min-width: 1200px) {
  .pt-diagnosis .presentation figure {
    display: inline-block;
    vertical-align: top; }
  .pt-diagnosis .presentation .details {
    display: inline-block;
    margin-top: 90px;
    margin-left: 70px; } }

/*# sourceMappingURL=internal_consulting.css.map */
