@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("//fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
@import url("//fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff") format("woff"); }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

@media (min-width: 1200px) {
  .container {
    width: 1200px !important; } }

@media (min-width: 768px) {
  #header {
    height: 150px;
    border-bottom: 1px solid #fff; } }

input[type="password"] {
  font-family: 'Roboto', sans-serif; }

.form-group {
  margin: 0; }

.form-control {
  width: 100%;
  height: 45px;
  font-size: 14px;
  color: #999;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  box-shadow: none; }
  .form-control:hover, .form-control:focus {
    box-shadow: none; }

.btn {
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn:hover, .btn:focus {
    opacity: .7; }

label {
  font-weight: 400; }

.page-header {
  width: 100%;
  height: 224px;
  text-align: center;
  margin: 0;
  border: 0;
  padding: 0;
  background-image: url(/en/assets/images/sub/bg_page_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .page-header .page-list {
    display: none; }
  .page-header .page-summary {
    padding-top: 120px; }
    .page-header .page-summary.space {
      padding-top: 100px; }
    .page-header .page-summary h2 {
      font-size: 22px;
      color: #fff;
      line-height: 30px;
      font-weight: bold; }
    .page-header .page-summary p {
      display: none; }
  @media (min-width: 768px) {
    .page-header {
      height: 420px;
      padding-top: 180px; }
      .page-header .page-list {
        font-size: 0;
        display: block; }
        .page-header .page-list > li {
          position: relative;
          display: inline-block;
          font-size: 12px;
          vertical-align: top;
          padding: 0 10px; }
          .page-header .page-list > li:after {
            position: absolute;
            top: 0;
            right: -2px;
            content: "|";
            color: #fff; }
          .page-header .page-list > li:last-child:after {
            content: "";
            display: none; }
          .page-header .page-list > li > a {
            position: relative;
            font-weight: 400;
            display: block;
            color: rgba(255, 255, 255, 0.6);
            padding-bottom: 10px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            text-decoration: none; }
            .page-header .page-list > li > a:hover, .page-header .page-list > li > a:focus {
              color: #fff; }
          .page-header .page-list > li.active a {
            color: #fff;
            font-weight: bold; }
            .page-header .page-list > li.active a span {
              position: absolute;
              bottom: 0;
              left: 0;
              height: 1px;
              width: 100%;
              background-color: #fff; }
      .page-header .page-summary {
        padding-top: 0 !important;
        margin-top: 60px; }
        .page-header .page-summary h2 {
          font-size: 35px;
          line-height: 40px; } }
  @media (min-width: 1200px) {
    .page-header {
      height: 465px; }
      .page-header .page-summary {
        margin-top: 100px; }
      .page-header .page-list > li {
        font-size: 16px;
        padding: 0 15px;
        margin-bottom: 10px; } }

.dropdown-backdrop {
  position: static; }

.sub-nav {
  /*@media(min-width: $lg) {
      .dropdown-menu {
          li {
              width: 8.33%;
              a {
                  @include transition();
                  border-bottom: 1px solid #e0e0e0 !important;
                  &:hover, &:focus {
                      color: #fff;
                      background-color: #005f98;
                      border-color: #005f98;
                  }
              }
              &:nth-of-type(6) {
                  a {
                      border-right: 0;
                  }
              }
              &.active {
                  a {
                      cursor: default;
                  }
              }
          }
      }
  }*/ }
  .sub-nav .btn-default {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: #005f98 !important;
    font-weight: bold;
    text-align: left;
    padding: 10px 20px;
    /*line-height: 48px;*/
    box-shadow: none !important;
    border: 1px solid #005f98 !important;
    background: none !important;
    white-space: normal; }
    .sub-nav .btn-default:after {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      right: 20px;
      font-size: 20px;
      content: "\E80C";
      font-family: "fontello"; }
  .sub-nav .dropdown-menu {
    margin: 0;
    margin-top: -1px;
    padding: 0;
    border-radius: 0;
    min-width: 100%;
    box-shadow: none;
    z-index: 99;
    border: 1px solid #005f98; }
    .sub-nav .dropdown-menu li a {
      font-size: 12px;
      color: #666;
      padding: 10px 20px;
      white-space: normal;
      border-bottom: 1px solid #ccc; }
    .sub-nav .dropdown-menu li.active a {
      background: none;
      color: #666; }
    .sub-nav .dropdown-menu li:last-child a {
      border-bottom: 0; }
  .sub-nav.open .btn-default {
    color: #005f98;
    border: 1px solid #005f98; }
    .sub-nav.open .btn-default:after {
      content: "\E80D"; }
  @media (min-width: 1200px) {
    .sub-nav .btn-default {
      display: none; }
    .sub-nav .dropdown-menu {
      display: block;
      font-size: 0;
      text-align: center;
      border: 0; }
      .sub-nav .dropdown-menu li {
        width: 16.66%;
        display: inline-block;
        text-align: center;
        vertical-align: top; }
        .sub-nav .dropdown-menu li a {
          padding: 30px 0;
          font-size: 15px;
          line-height: 20px;
          border: 1px solid #e0e0e0;
          border-right: 0;
          border-bottom: 0;
          height: 82px; }
        .sub-nav .dropdown-menu li.space a {
          padding: 20px 0; }
        .sub-nav .dropdown-menu li:nth-of-type(6) a {
          border-right: 1px solid #e0e0e0; }
        .sub-nav .dropdown-menu li:nth-of-type(7) a, .sub-nav .dropdown-menu li:nth-of-type(8) a, .sub-nav .dropdown-menu li:nth-of-type(9) a, .sub-nav .dropdown-menu li:nth-of-type(10) a, .sub-nav .dropdown-menu li:nth-of-type(11) a {
          border-bottom: 1px solid #e0e0e0; }
        .sub-nav .dropdown-menu li:nth-of-type(12) a {
          border-right: 1px solid #e0e0e0;
          border-bottom: 1px solid #e0e0e0; }
        .sub-nav .dropdown-menu li.space a {
          padding: 11px 0; }
        .sub-nav .dropdown-menu li.active a {
          color: #fff;
          border-color: #005f98;
          background-color: #005f98; } }

#content {
  padding: 78px 0 85px; }
  @media (min-width: 768px) {
    #content {
      padding: 70px 0 140px; } }
  @media (min-width: 1200px) {
    #content {
      padding: 100px 0 150px; } }

.search-form {
  position: relative;
  width: 100%;
  padding-left: 120px; }
  .search-form .form-group select {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px; }
  .search-form .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 0;
    border: 0;
    line-height: 45px;
    border-radius: 0;
    background-color: #005c94;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .search-form .btn-search:hover, .search-form .btn-search:focus {
      opacity: .7; }
  @media (min-width: 768px) {
    .search-form {
      float: right;
      width: 350px; } }

.board-list .table {
  table-layout: fixed;
  border: 0;
  margin-bottom: 0;
  border-top: 2px solid #393939; }
  .board-list .table thead tr th {
    font-size: 13px;
    color: #444;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    background-color: #f5f5f5; }
    .board-list .table thead tr th:nth-of-type(1) {
      width: 50px; }
    .board-list .table thead tr th:nth-of-type(3) {
      width: 90px; }
    .board-list .table thead tr th:nth-of-type(4) {
      display: none; }
  .board-list .table tbody tr td {
    font-size: 12px;
    color: #666;
    text-align: center;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid #d6d6d6; }
    .board-list .table tbody tr td.subject {
      text-align: left; }
      .board-list .table tbody tr td.subject a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 10px; }
    .board-list .table tbody tr td:nth-of-type(1) {
      width: 50px; }
    .board-list .table tbody tr td:nth-of-type(3) {
      width: 90px; }
    .board-list .table tbody tr td:nth-of-type(4) {
      display: none; }
  @media (min-width: 768px) {
    .board-list .table thead tr th {
      font-size: 14px; }
      .board-list .table thead tr th:nth-of-type(1) {
        width: 80px; }
      .board-list .table thead tr th:nth-of-type(3) {
        width: 130px; }
      .board-list .table thead tr th:nth-of-type(4) {
        display: table-cell;
        width: 90px; }
    .board-list .table tbody tr td {
      font-size: 13px; }
      .board-list .table tbody tr td.subject a {
        padding-left: 20px; }
      .board-list .table tbody tr td:nth-of-type(1) {
        width: 80px; }
      .board-list .table tbody tr td:nth-of-type(3) {
        width: 130px; }
      .board-list .table tbody tr td:nth-of-type(4) {
        display: table-cell;
        width: 90px; } }

.board-view .article-header {
  border-top: 2px solid #333;
  border-bottom: 1px solid #d6d6d6; }
  .board-view .article-header .title {
    font-size: 15px;
    color: #444;
    font-weight: 400;
    padding: 20px 15px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #f5f5f5; }
  .board-view .article-header .writer-info {
    padding: 20px 15px; }
    .board-view .article-header .writer-info > ul {
      font-size: 0; }
      .board-view .article-header .writer-info > ul > li {
        display: inline-block;
        font-size: 14px;
        color: #666; }
        .board-view .article-header .writer-info > ul > li:after {
          position: relative;
          top: -1px;
          font-size: 12px;
          font-weight: bold;
          content: "|";
          color: #d6d6d6;
          margin: 0 10px 0 6px; }
        .board-view .article-header .writer-info > ul > li:last-child:after {
          content: "";
          margin: 0; }
        .board-view .article-header .writer-info > ul > li > dl {
          display: inline-block; }
          .board-view .article-header .writer-info > ul > li > dl > dt {
            display: inline-block;
            font-weight: 400;
            line-height: 28px; }
            .board-view .article-header .writer-info > ul > li > dl > dt:after {
              content: ":";
              margin: 0 3px; }
          .board-view .article-header .writer-info > ul > li > dl > dd {
            display: inline-block;
            font-weight: 400; }
.board-view .article-content {
  padding: 45px 0 60px;
  border-bottom: 1px solid #d6d6d6; }
  .board-view .article-content figure .img-responsive {
    margin: 0 auto; }
.board-view .attach {
  padding: 20px 15px;
  border-bottom: 1px solid #6f848e; }
  .board-view .attach > dl {
    font-size: 0; }
    .board-view .attach > dl > dt {
      display: inline-block;
      font-size: 13px;
      color: #666;
      font-weight: 400;
      vertical-align: top;
      line-height: 28px; }
      .board-view .attach > dl > dt:after {
        content: ":";
        margin: 0 30px 0 10px; }
    .board-view .attach > dl > dd {
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      vertical-align: top; }
      .board-view .attach > dl > dd > a {
        display: block;
        color: #666;
        line-height: 28px; }
        .board-view .attach > dl > dd > a:before {
          font-size: 14px;
          content: "\F0F6";
          font-family: "fontello";
          margin-right: 10px; }
.board-view .article-footer {
  margin-top: 65px;
  border-top: 1px solid #6f848e;
  border-bottom: 1px solid #6f848e; }
  .board-view .article-footer ul li {
    display: block;
    font-size: 13px;
    color: #666; }
    .board-view .article-footer ul li:first-child {
      border-bottom: 1px solid #d6d6d6; }
    .board-view .article-footer ul li > dl {
      position: relative;
      padding-left: 120px; }
      .board-view .article-footer ul li > dl dt {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        text-align: center;
        padding: 25px 0;
        font-weight: 400;
        background-color: #f5f5f5; }
        .board-view .article-footer ul li > dl dt:after {
          font-size: 13px;
          content: "\E809";
          font-family: "fontello";
          margin-left: 15px; }
      .board-view .article-footer ul li > dl dd {
        padding: 25px 0; }
        .board-view .article-footer ul li > dl dd a {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #666;
          font-weight: 400;
          padding: 0 25px; }
@media (min-width: 768px) {
  .board-view .article-content {
    padding: 70px 0 130px; }
  .board-view .attach > dl > dt {
    font-size: 14px; }
  .board-view .attach > dl > dd {
    font-size: 14px; }
  .board-view .article-footer {
    margin-top: 70px; }
    .board-view .article-footer ul li {
      font-size: 14px; } }
@media (min-width: 1200px) {
  .board-view .article-content {
    padding-top: 50px; }
  .board-view .article-footer {
    margin-top: 70px; } }

.consulting-tabs .nav-tabs {
  font-size: 0;
  border: 0; }
  .consulting-tabs .nav-tabs > li {
    display: inline-block;
    width: 50%; }
    .consulting-tabs .nav-tabs > li:nth-of-type(1) {
      padding-right: 3px; }
    .consulting-tabs .nav-tabs > li:nth-of-type(2) {
      padding-left: 3px; }
    .consulting-tabs .nav-tabs > li > a {
      position: relative;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      margin: 0;
      padding: 0;
      padding: 25px 0;
      border: 0 !important;
      border-radius: 0;
      background: none;
      background-image: url(/en/assets/images/sub/bg_none_active_color.png);
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: auto 100%; }
    .consulting-tabs .nav-tabs > li.space > a {
      padding: 14px 0; }
      @media (min-width: 768px) {
        .consulting-tabs .nav-tabs > li.space > a {
          padding: 25px 0; } }
    .consulting-tabs .nav-tabs > li.active a {
      color: #fff;
      background: none;
      background-image: url(/en/assets/images/sub/bg_active_color.png);
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: auto 100%; }
.consulting-tabs .tab-content {
  padding: 60px 10px 65px;
  border: 4px solid #fba574;
  background-color: #fff; }
@media (min-width: 768px) {
  .consulting-tabs .nav-tabs > li > a {
    font-size: 20px; }
  .consulting-tabs .tab-content {
    padding: 60px 40px 70px; } }
@media (min-width: 992px) {
  .consulting-tabs .nav-tabs > li {
    width: 33.33%; }
  .consulting-tabs .tab-content {
    padding: 80px 85px 85px; } }

.square-list > li {
  position: relative;
  padding-left: 40px; }
  .square-list > li ~ li {
    margin-top: 20px; }
  .square-list > li span {
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    display: block;
    line-height: 20px;
    border-radius: 50%;
    color: #fff;
    background-color: #6e6e6e !important; }
  .square-list > li strong {
    display: block;
    font-size: 16px;
    color: #333;
    line-height: 20px;
    margin-bottom: 15px; }
  .square-list > li p {
    font-size: 13px;
    color: #666;
    line-height: 24px; }
@media (min-width: 768px) {
  .square-list > li ~ li {
    margin-top: 30px; }
  .square-list > li strong {
    font-size: 18px;
    margin-bottom: 18px; }
  .square-list > li p {
    font-size: 15px;
    line-height: 26px; } }

.tab-panel {
  margin-top: 80px; }
  @media (min-width: 768px) {
    .tab-panel {
      margin-top: 130px; } }
  @media (min-width: 992px) {
    .tab-panel {
      margin-top: 110px; } }

.consulting-panel ~ .consulting-panel {
  margin-top: 30px; }
.consulting-panel .btn {
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 70px;
  color: #fff;
  text-align: left;
  opacity: 1 !important;
  padding-left: 20px;
  box-shadow: none;
  border: 1px solid #7d909b;
  background-color: #7d909b; }
  .consulting-panel .btn:hover {
    border-color: #7d909b;
    background-color: #7d909b; }
  .consulting-panel .btn:after {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 18px;
    margin-top: -9px;
    line-height: 18px;
    font-family: "fontello";
    content: "\F005"; }
  .consulting-panel .btn.collapsed {
    color: #333;
    background: #f9f9f9;
    border: 1px solid #e0e0e0; }
    .consulting-panel .btn.collapsed:after {
      content: "\F004"; }
    .consulting-panel .btn.collapsed:hover {
      background: #f9f9f9;
      border-color: #e0e0e0; }
.consulting-panel .well {
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none; }
  .consulting-panel .well .inquire {
    padding: 30px 0 80px; }
    .consulting-panel .well .inquire .details p {
      font-size: 14px;
      color: #666;
      line-height: 24px; }
    .consulting-panel .well .inquire .details dl {
      margin-top: 50px; }
      .consulting-panel .well .inquire .details dl dt {
        position: relative;
        font-size: 18px;
        color: #666;
        font-weight: 400;
        line-height: 30px;
        padding-left: 22px; }
        .consulting-panel .well .inquire .details dl dt:before {
          position: absolute;
          top: 0;
          left: 5px;
          font-size: 13px;
          content: "\E817";
          font-family: "fontello"; }
      .consulting-panel .well .inquire .details dl dd ul li {
        display: block;
        font-size: 16px;
        color: #666;
        font-weight: 600;
        line-height: 30px; }
        .consulting-panel .well .inquire .details dl dd ul li i {
          font-size: 13px;
          margin-right: 5px; }
        .consulting-panel .well .inquire .details dl dd ul li a {
          text-decoration: none; }
  .consulting-panel .well .success {
    padding-top: 50px; }
    .consulting-panel .well .success .sucess-title {
      font-size: 24px;
      color: #333;
      font-weight: bold;
      line-height: 36px;
      margin-bottom: 25px;
      word-break: keep-all; }
    .consulting-panel .well .success figure .img-responsive {
      margin: 0 auto; }
    .consulting-panel .well .success > article {
      margin-top: 70px; }
      .consulting-panel .well .success > article h5 {
        font-size: 24px;
        color: #005c94;
        font-weight: 600;
        font-family: 'Titillium Web', sans-serif; }
        .consulting-panel .well .success > article h5.nns {
          font-family: 'NanumSquare', sans-serif; }
      .consulting-panel .well .success > article hr {
        display: block;
        margin: 15px 0 35px;
        border-top: 1px solid #005c94; }
      .consulting-panel .well .success > article .summary {
        font-size: 15px;
        color: #333;
        line-height: 24px;
        margin-bottom: 30px; }
      .consulting-panel .well .success > article .dot-list {
        margin-top: 0; }
        .consulting-panel .well .success > article .dot-list li {
          font-size: 14px;
          color: #444;
          line-height: 22px;
          padding-left: 10px; }
          .consulting-panel .well .success > article .dot-list li ~ li {
            margin-top: 15px; }
      .consulting-panel .well .success > article .square-box {
        color: #fff;
        display: block;
        padding: 30px;
        margin-top: 35px;
        background-color: #035e95; }
        .consulting-panel .well .success > article .square-box p {
          font-size: 16px;
          line-height: 28px; }
        .consulting-panel .well .success > article .square-box small {
          display: inline-block;
          font-size: 15px;
          margin-top: 40px; }
    .consulting-panel .well .success figure {
      margin-top: 35px; }
      .consulting-panel .well .success figure .img-responsive {
        margin: 0 auto; }
  .consulting-panel .well .message {
    padding: 35px 0; }
    .consulting-panel .well .message ul li {
      color: #333; }
      .consulting-panel .well .message ul li ~ li {
        margin-top: 50px; }
      .consulting-panel .well .message ul li p {
        font-size: 15px;
        line-height: 24px; }
      .consulting-panel .well .message ul li small {
        display: block;
        font-size: 13px;
        margin-top: 30px; }
@media (min-width: 768px) {
  .consulting-panel .btn {
    font-size: 19px;
    padding-left: 35px; }
    .consulting-panel .btn:after {
      right: 35px; }
    .consulting-panel .btn.collapsed {
      color: #333;
      background: #f9f9f9;
      border: 1px solid #e0e0e0; }
      .consulting-panel .btn.collapsed:after {
        content: "\F004"; }
  .consulting-panel .well .inquire {
    padding: 50px 0 70px; }
    .consulting-panel .well .inquire .details {
      position: relative;
      padding: 10px 50px 0 140px; }
      .consulting-panel .well .inquire .details figure {
        position: absolute;
        top: 0;
        left: 0;
        width: 140px; }
        .consulting-panel .well .inquire .details figure img {
          display: block;
          margin: 0 auto; }
      .consulting-panel .well .inquire .details p {
        font-size: 16px; }
      .consulting-panel .well .inquire .details dl {
        margin-top: 30px; }
        .consulting-panel .well .inquire .details dl dt {
          display: inline-block;
          font-size: 16px;
          line-height: 20px; }
        .consulting-panel .well .inquire .details dl dd {
          display: inline-block; }
          .consulting-panel .well .inquire .details dl dd ul {
            margin-left: 25px; }
            .consulting-panel .well .inquire .details dl dd ul li {
              font-size: 16px;
              line-height: 20px;
              display: inline-block;
              margin-right: 15px; }
              .consulting-panel .well .inquire .details dl dd ul li:last-child {
                margin-right: 0; }
  .consulting-panel .well .success {
    padding-top: 60px; }
    .consulting-panel .well .success .sucess-title {
      font-size: 32px;
      margin-bottom: 50px; }
    .consulting-panel .well .success > article {
      margin-top: 60px; }
      .consulting-panel .well .success > article h5 {
        font-size: 26px; }
      .consulting-panel .well .success > article hr {
        margin: 10px 0 30px; }
      .consulting-panel .well .success > article .summary {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 24px; }
      .consulting-panel .well .success > article .dot-list li {
        font-size: 15px;
        line-height: 24px; }
      .consulting-panel .well .success > article .square-box {
        padding: 50px 40px; }
        .consulting-panel .well .success > article .square-box p {
          font-size: 18px;
          line-height: 32px; }
        .consulting-panel .well .success > article .square-box small {
          font-size: 15px;
          margin-top: 40px; }
      .consulting-panel .well .success > article figure {
        margin-top: 80px; }
  .consulting-panel .well .message {
    padding: 50px 40px; }
    .consulting-panel .well .message ul li p {
      font-size: 18px;
      line-height: 26px; }
    .consulting-panel .well .message ul li small {
      font-size: 16px;
      margin-top: 20px; } }
@media (min-width: 992px) {
  .consulting-panel .well .inquire {
    padding-bottom: 90px; }
    .consulting-panel .well .inquire .details dl {
      margin-top: 15px; }
  .consulting-panel .well .success {
    padding-top: 85px; }
    .consulting-panel .well .success .sucess-title {
      font-size: 36px;
      margin-bottom: 45px; }
    .consulting-panel .well .success > article h5 {
      font-size: 26px; }
    .consulting-panel .well .success > article .summary {
      margin-bottom: 20px; }
    .consulting-panel .well .success > article .dot-list li {
      font-size: 16px;
      line-height: 32px;
      margin-top: 0 !important; }
    .consulting-panel .well .success > article figure {
      margin-top: 90px; }
  .consulting-panel .well .message {
    padding: 60px 35px; } }

.paging {
  text-align: center; }
  .paging .pagination {
    display: inline-block;
    margin: 0; }
    .paging .pagination li a {
      width: 26px;
      line-height: 26px;
      padding: 0;
      font-size: 13px;
      color: #666;
      border-radius: 3px;
      font-family: 'Roboto', sans-serif;
      margin: 0 2px;
      border: 1px solid #e1e1e1;
      background-color: #fff; }
      .paging .pagination li a:hover {
        background-color: #fff; }
    .paging .pagination li.active a {
      color: #fff;
      background-color: #035e95;
      border-color: #035e95; }
    .paging .pagination li.prev a {
      margin-right: 10px; }
    .paging .pagination li.next a {
      margin-left: 10px; }

.admin .page-header {
  background-image: url(/en/assets/images/ourservice/bg_oursevice_header.jpg); }
.admin #content.login {
  padding: 150px 0 200px;
  text-align: center; }
  .admin #content.login h2 {
    font-size: 26px;
    color: #222;
    margin-bottom: 60px; }
  .admin #content.login .login-form {
    border: 1px solid #e8e8e8;
    padding: 30px 10px; }
    .admin #content.login .login-form .form-group ~ .form-group {
      margin-top: 15px; }
    .admin #content.login .login-form .form-group .form-control {
      width: 100%;
      height: 40px;
      border: 1px solid #e8e8e8; }
    .admin #content.login .login-form .btn-area {
      margin-top: 15px; }
      .admin #content.login .login-form .btn-area p .btn-blue {
        width: 100%;
        max-width: 300px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: #fff;
        background-color: #035e95; }
    @media (min-width: 768px) {
      .admin #content.login .login-form {
        position: relative;
        max-width: 640px;
        margin: 0 auto;
        padding: 65px 230px 65px 75px; }
        .admin #content.login .login-form .btn-area {
          position: absolute;
          top: 65px;
          right: 75px;
          margin: 0; }
          .admin #content.login .login-form .btn-area p .btn-blue {
            width: 130px;
            height: 95px;
            line-height: 95px; } }

.expect-effect > div {
  padding-left: 100px;
  background-repeat: no-repeat;
  background-size: 80px auto;
  background-position: 0 0; }
  .expect-effect > div.order-business {
    background-image: url(/en/assets/images/sub/icon_img01.png); }
  .expect-effect > div.reinforcement-capacity {
    margin-top: 50px;
    background-image: url(/en/assets/images/sub/icon_img02.png); }
  .expect-effect > div h5 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px; }
@media (min-width: 768px) {
  .expect-effect > div {
    padding-left: 160px;
    background-size: 120px auto; }
    .expect-effect > div.reinforcement-capacity {
      margin-top: 60px; }
    .expect-effect > div h5 {
      font-size: 22px;
      margin-bottom: 35px; } }
@media (min-width: 992px) {
  .expect-effect > div {
    padding-left: 230px;
    background-size: 170px auto; }
    .expect-effect > div.reinforcement-capacity {
      margin-top: 80px; }
    .expect-effect > div h5 {
      font-size: 24px; } }

/*# sourceMappingURL=sub.css.map */
