@import 'common';
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.company {
    .page-header {
        background-image: url(/assets/images/company/bg_company_header.jpg);
    }
}



// 대표 인사말
.message {
    .section-header {
        position: relative;
        width: 100%;
        .ceo-message {
            height: 380px;
            color: #fff;
            padding: 35px 25px;
            background-image: url(/assets/images/company/bg_introduce.jpg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            h3 {
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 20px;
                letter-spacing: -1px;
            }
            p {
                font-size: 18px;
                line-height: 24px;
                color: rgba(#fff, .5);
            }
            figure {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    .section-content {
        margin-top: 40px;
        b {
            display: block;
            font-size: 18px;
            color: #333;
            font-weight: 500;
            line-height: 30px;
        }
        p {
            font-size: 12px;
            color: #666;
            line-height: 24px;
            margin-top: 30px;
        }
        h4 {
            font-size: 34px;
            color: #666;
            text-align: right;
            margin-top: 70px;
            font-family: 'Nanum Myeongjo', serif;
            small {
                display: inline-block;
                font-size: 15px;
                margin-right: 20px;
                @include nns();
            }
        }
    }
    @media(min-width: $sm) {
        .section-header {
            margin-top: 86px;
            display: table;
            .ceo-message {
                display: table-cell;
                vertical-align: middle;
                padding: 0;
                padding-left: 45px;
                height: 354px;
                h3 {
                    font-size: 32px;
                    line-height: 50px;
                    margin-bottom: 25px;
                }
                p {
                    font-size: 20px;
                }
                figure {
                    img {
                        height: 440px;
                    }
                }
            }
        }
        .section-content {
            b {
                font-size: 22px;
                line-height: 34px;
            }
            p {
                font-size: 13px;
                line-height: 26px;
                margin-top: 40px;
            }
            h4 {
                font-size: 34px;
                margin-top: 80px;
                small {
                    font-size: 15px;
                }
            }
        }
    }
    @media(min-width: $md) {
        .section-header {
            margin-top: 140px;
            .ceo-message {
                padding-left: 125px;
                h3 {
                    font-size: 36px;
                    line-height: 54px;
                }
                p {
                    font-size: 24px;
                }
                figure {
                    img {
                        height: 495px;
                    }
                }
            }
        }
        .section-content {
            margin-top: 65px;
            b {
                font-size: 26px;
                line-height: 48px;
            }
            p {
                font-size: 16px;
                line-height: 30px;
                margin-top: 55px;
            }
            h4 {
                margin-top: 100px;
            }
        }
    }
    @media(min-width: $lg) {
        .section-header {
            .ceo-message {
                figure {
                    right: 135px;
                }
            }
        }
    }
}

// 회사소개
.introduce {
    section {
        .section-header {
            text-align: center;
            h3 {
                font-size: 22px;
                color: #333;
                font-weight: 500;
            }
            p {
                display: inline-block;
                font-size: 13px;
                color: #666;
                text-align: left;
                line-height: 22px;
                margin: 0 auto;
                margin-top: 30px;
            }
        }
        .section-content {
            padding-top: 60px;
            ol {
                li {
                    & ~ li {
                        margin-top: 50px;
                    }
                    border-top: 3px solid #f5f5f5;
                    border-left: 3px solid #f5f5f5;
                    box-shadow: 6px 4px 7px 0px rgba(0, 0, 0, 0.1);
                    figure {
                        .img-responsive {
                            width: 100%;
                        }
                    }
                    .details {
                        padding: 30px 20px;
                        b {
                            display: inline-block;
                            font-size: 40px;
                            @include lato();
                            font-weight: 600;
                            color: rgba(51, 51, 51, .1);
                            margin-bottom: 20px;
                            @media(min-width: $sm) {
                                font-size: 45px;
                                margin-bottom: 30px;
                            }
                            @media(min-width: $sm) {
                                font-size: 50px;
                            }
                        }
                        h4 {
                            font-size: 24px;
                            color: #333;
                            line-height: 30px;
                            margin-bottom: 30px;
                            word-break: keep-all;
                            @media(min-width: $sm) {
                                font-size: 26px;
                                line-height: 34px;
                            }
                            @media(min-width: $md) {
                                font-size: 28px;
                                line-height: 40px;
                                margin-bottom: 40px;
                            }
                        }
                        p {
                            font-size: 14px;
                            color: #666;
                            line-height: 26px;
                            word-break: keep-all;
                            @media(min-width: $sm) {
                                font-size: 15px;
                                line-height: 28px;
                            }
                        }
                    }
                    @media(min-width: $md) {
                        position: relative;
                        box-shadow: none;
                        border: 0;
                        figure {
                            position: absolute;
                            top: -100px;
                            .img-responsive {
                                width: 400px;
                            }
                        }
                        .details {
                            margin-left: auto;
                            margin-right: auto;
                            width: 700px;
                            border-top: 3px solid #f5f5f5;
                            border-left: 3px solid #f5f5f5;
                            box-shadow: 6px 4px 7px 0px rgba(0, 0, 0, 0.1);
                            h4 {
                                letter-spacing: -.5px;
                            }
                        }
                        &:nth-child(odd) {
                            figure {
                                right: 0;
                            }
                            .details {
                                padding: 60px 200px 60px 70px;
                                margin-left: 0;
                            }
                        }
                        &:nth-child(even) {
                            figure {
                                left: 0;
                            }
                            .details {
                                margin-right: 0;
                                padding: 60px 70px 60px 226px;
                            }
                        }
                    }
                    @media(min-width: $lg) {
                        figure {
                            .img-responsive {
                                width: 517px;
                            }
                        }
                        .details {
                            width: 900px;
                            h4 {
                                letter-spacing: 0;
                            }
                        }
                        &:nth-child(odd) {
                            .details {
                                padding-right: 400px;
                            }
                        }
                        &:nth-child(even) {
                            .details {
                                padding-left: 400px;
                            }
                        }
                    }
                }
            }
        }
        @media(min-width: $sm) {
            .section-header {
                h3 {
                    font-size: 30px;
                }
                p {
                    font-size: 15px;
                    line-height: 24px;
                }
            }
            .section-content {
                padding-top: 170px;
                ol {
                    li {
                        & ~ li {
                            margin-top: 185px;
                        }
                    }
                }
            }
        }
        @media(min-width: $md) {
            .section-header {
                h3 {
                    font-size: 48px;
                }
                p {
                    font-size: 16px;
                    line-height: 28px;
                    margin-top: 40px;
                }
            }
            .section-content {
                
            }
        }
    }
}

// 연혁 
.history {
    padding-top: 23px !important;
    .history-info {
        .section-header {
            text-align: left;
            padding: 50px 0 35px;
            h3 {
                position: relative;
                font-size: 22px;
                color: #333;
                padding-left: 15px;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 2px;
                    height: 20px;
                    margin-top: -10px;
                    display: block;
                    content: "";
                    background-color: #fba574;
                }
            }
        }
        .section-content {
            .history-list {
                > li {
                    margin-bottom: 75px;
                    .year {
                        margin-bottom: 25px;
                        h4 {
                            display: block;
                            width: 94px;
                            color: #fff;
                            font-size: 24px;
                            font-weight: bold;
                            text-align: center;
                            line-height: 94px;
                            margin: 0 auto;
                            border-radius: 50%;
                            background-color: #005f98;
                            @include lato();
                        }
                        .line {
                            position: relative;
                            width: 1px;
                            margin: 0 auto;
                            height: 40px;
                            background-color: #005f98;
                            &:after {
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                margin-left: -4px;
                                content: "";
                                display: block;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: #005f98;
                            }
                        }
                    }
                    .details {
                        /*width: 300px;
                        margin: 0 auto;*/
                        > ul {
                            > li {
                                font-size: 12px;
                                color: #666;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        padding-top: 70px !important;
        .sub-nav {
            height: 60px;
            .dropdown-menu {
                top: 0;
                li {
                    width: 50%;
                    a {
                        border-bottom: 1px solid #e0e0e0;
                    }
                    &:nth-of-type(2) {
                        a {
                            border-right: 1px solid #e0e0e0;
                        }
                    }
                }
            }
        }
        .history-info {
            .section-header {
                padding: 98px 0 115px;
                h3 {
                    font-size: 30px;
                    &:before {
                        width: 4px;
                        height: 30px;
                        margin-top: -15px;
                    }
                }
            }
            .section-content {
                .history-list {
                    li {
                        .year {
                            overflow: hidden;
                            margin-bottom: 0;
                            h4 {
                                float: left;
                                width: 170px;
                                font-size: 48px;
                                line-height: 170px;
                            }
                            .line {
                                float: left;
                                width: 65px;
                                height: 1px;
                                margin-top: 84px;
                                &:after {
                                    width: 14px;
                                    height: 14px;
                                    left: 100%;
                                    bottom: -7px;
                                    margin: 0;
                                }
                            }
                        }
                        .details {
                            width: 100%;
                            > ul {
                                > li {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        padding-top: 110px !important;
        .history-info {
            .section-header {
                padding: 80px 0 110px;
            }
        }
    }
    @media(min-width: $lg) {
        .history-info {
            .section-header {
                padding: 80px 0 110px;
            }
            .section-content {
                .history-list {
                    > li {
                        margin-bottom: 120px;
                        .details {
                            > ul {
                                > li {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 파트너 
.partner {
    padding-top: 23px !important;
    .partner-list {
        margin-top: 50px;
        .article-header {
            h3 {
                position: relative;
                font-size: 22px;
                color: #333;
                padding-left: 15px;
                margin-bottom: 30px;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 2px;
                    height: 20px;
                    margin-top: -10px;
                    display: block;
                    content: "";
                    background-color: #fba574;
                }
            }
        }
        > ul {
            > li {
                & ~ li {
                    .item {
                        margin-top: 20px;
                    }
                }
                &:nth-of-type(2) {
                    .item {
                        margin-top: 0;
                    }
                }
                .item {
                    text-align: center;
                    padding: 0 30px;
                    line-height: 90px;
                    border: 1px solid #ddd;
                    img {
                        display: inline-block;
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        padding-bottom: 200px !important;
        .sub-nav {
            height: 119px;
            .dropdown-menu {
                top: 0;
            }
        }
        .partner-list {
            .article-header {
                h3 {
                    font-size: 30px;
                    margin-bottom: 40px;
                    &:before {
                        width: 4px;
                        height: 30px;
                        margin-top: -15px;
                    }
                }
            }
            > ul {
                > li {
                    .item {
                        width: 100%;
                    }
                    &:nth-of-type(2), &:nth-of-type(3) {
                        .item {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        padding-top: 110px !important;
        .partner-list {
            .article-header {
                h3 {
                    margin-bottom: 50px;
                }
            }
            > ul {
                > li {
                    &:nth-of-type(4) {
                        .item {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}

// 성공사례
.succession-case {
    padding-top: 23px !important;
    padding-bottom: 145px !important;
    article {
        .article-header {
            padding: 40px 0 30px;
            h3 {
                position: relative;
                font-size: 22px;
                color: #333;
                padding-left: 15px;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 2px;
                    height: 20px;
                    margin-top: -10px;
                    display: block;
                    content: "";
                    background-color: #fba574;
                }
            }
        }
        .article-content {
            figure {
                padding: 20px 20px 0;
                border: 1px solid #d1d1d1;
                @media(min-width: $sm) {
                    padding: 80px 0 60px;
                }
                .img-responsive {
                    margin: 0 auto;
                    margin-bottom: 20px;
                }
            }
            .content-view-list {
                overflow: hidden;
                & ~ .content-view-list {
                    margin-top: 30px;
                }
                h4 {
                    font-size: 16px;
                    color: #333;
                    display: block;
                    font-weight: 400;
                    margin-bottom: 20px;
                    padding-left: 20px;
                    background-image: url(/assets/images/company/icon_sub_title_bg.gif);
                    background-repeat: no-repeat;
                    background-position: 0 50%;
                    background-size: 15px auto;
                }
                a {
                    float: left;
                    width: 19%;
                    height: auto;
                    margin-right: 1.23%;
                    div {
                        margin-bottom: 20px;
                        border: 2px solid #fff;
                        img {
                            width: 100%;
                        }
                    }
                    &:nth-of-type(5n + 5) {
                        margin-right: 0;
                    }
                    &:hover, &:focus {
                        div {
                            border: 2px solid #fba574;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .sub-nav {
            height: 119px;
            .dropdown-menu {
                top: 0;
            }
        }
        article {
            .article-header {
                padding: 60px 0 50px;
                h3 {
                    font-size: 30px;
                    &:before {
                        width: 4px;
                        height: 30px;
                        margin-top: -15px;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        padding-top: 110px !important;
        article {
            .article-header {
                padding: 80px 0 50px;
            }
            .article-content {
                .content-view-list {
                    text-align: left;
                    & ~ .content-view-list {
                        margin-top: 50px;
                    }
                    h4 {
                        font-size: 18px;
                        padding-left: 25px;
                        margin-bottom: 25px;
                        background-size: 17px auto;
                    }
                    a {
                        width: 130px;
                        height: 190px;
                        float: none;
                        display: inline-block;
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .sub-nav {
            height: 60px;
        }
    }
}




/* Modal popup sampling */
.sampling {
    .modal-dialog {
        margin-top: 150px;
        margin-bottom: 150px;
        @media(min-width: $lg) {
            width: 850px;
        }
        .modal-content {
            box-shadow: none;
            border-radius: 0;
            .close {
                position: absolute;
                top: -28px;
                right: 0;
                display: block;
                font-size: 30px;
                line-height: 18px;
                color: #fff;
                opacity: 1 !important;
                z-index: 1001;
            }
            .modal-body {
                padding: 10px;
                figure {
                    .img-responsive {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.history_bold { font-weight:600; }