@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url("//fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("//fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
@import url("//fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff") format("woff"); }
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

a {
  color: #666; }
  a:hover, a:focus {
    color: #444; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.contact .page-header {
  background-image: url(/assets/images/contact/bg_contact_header.jpg); }
.contact #content {
  padding: 60px 0 105px; }
  @media (min-width: 768px) {
    .contact #content {
      padding: 90px 0 160px; } }
  @media (min-width: 992px) {
    .contact #content {
      padding: 80px 0 145px; } }

.faq-list #faq {
  margin: 0;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555; }
  .faq-list #faq .panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #d1d1d1; }
    .faq-list #faq .panel ~ .panel {
      border-top: 0; }
    .faq-list #faq .panel:last-child {
      border-bottom: 0; }
    .faq-list #faq .panel .panel-heading {
      padding: 0;
      background-color: #fff; }
      .faq-list #faq .panel .panel-heading a {
        position: relative;
        display: block;
        font-size: 13px;
        color: #333;
        line-height: 20px;
        margin: 0;
        text-decoration: none;
        padding: 21px 30px 21px 60px; }
        .faq-list #faq .panel .panel-heading a:before {
          position: absolute;
          top: 15px;
          left: 10px;
          display: block;
          content: "Q";
          width: 32px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          border-radius: 50%;
          color: #fff;
          font-size: 16px;
          background-color: #333; }
        .faq-list #faq .panel .panel-heading a:after {
          position: absolute;
          top: 50%;
          right: 20px;
          content: "-";
          font-size: 16px;
          line-height: 18px;
          font-weight: bold;
          margin-top: -9px; }
        .faq-list #faq .panel .panel-heading a.collapsed:after {
          content: "+"; }
    .faq-list #faq .panel .panel-collapse .panel-body {
      position: relative;
      padding: 20px 30px 40px 60px;
      border-top: 1px solid #777;
      background-color: #f5f5f5; }
      .faq-list #faq .panel .panel-collapse .panel-body:before {
        position: absolute;
        top: 20px;
        left: 10px;
        display: block;
        content: "A";
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        font-size: 16px;
        background-color: #035e95; }
      .faq-list #faq .panel .panel-collapse .panel-body p {
        font-size: 13px;
        color: #666;
        line-height: 26px; }
.faq-list .btn-area {
  text-align: center;
  margin-top: 30px; }
  .faq-list .btn-area p .btn-sm {
    display: inline-block;
    width: 300px;
    font-size: 14px;
    color: #fff;
    line-height: 45px;
    border-radius: 30px;
    background-color: #035e95; }
.faq-list .paging {
  margin-top: 40px; }
@media (min-width: 768px) {
  .faq-list #faq .panel .panel-heading a {
    padding: 21px 40px 21px 130px;
    font-size: 15px; }
    .faq-list #faq .panel .panel-heading a:before {
      top: 10px;
      left: 40px;
      font-size: 20px;
      content: "Q";
      width: 40px;
      height: 40px;
      line-height: 40px; }
    .faq-list #faq .panel .panel-heading a:after {
      right: 30px;
      font-size: 20px; }
  .faq-list #faq .panel .panel-collapse .panel-body {
    padding: 25px 30px 40px 130px; }
    .faq-list #faq .panel .panel-collapse .panel-body:before {
      top: 25px;
      left: 40px;
      font-size: 20px;
      content: "A";
      width: 40px;
      height: 40px;
      line-height: 40px; }
    .faq-list #faq .panel .panel-collapse .panel-body p {
      font-size: 14px; }
  .faq-list .paging {
    margin-top: 60px; }
  .faq-list .btn-area {
    margin-top: 40px;
    text-align: right; }
    .faq-list .btn-area p .btn-sm {
      width: 170px;
      font-size: 16px; } }

.location .map .img-responsive {
  margin: 0 auto; }
.location .table-wrap {
  margin-top: 20px; }
  .location .table-wrap .table {
    border: 0; }
    .location .table-wrap .table tbody tr th {
      width: 110px;
      font-size: 14px;
      color: #333;
      font-weight: 400;
      padding-left: 20px;
      vertical-align: middle;
      border: 1px solid #dadada;
      border-right: 0;
      border-left: 0;
      background-color: #f0f0f0; }
    .location .table-wrap .table tbody tr td {
      font-size: 13px;
      color: #666;
      font-weight: 400;
      line-height: 18px;
      vertical-align: middle;
      padding: 15px 20px;
      border: 1px solid #dadada;
      border-right: 0; }
      .location .table-wrap .table tbody tr td p {
        font-size: 13px; }
        .location .table-wrap .table tbody tr td p i {
          margin-right: 5px; }
        .location .table-wrap .table tbody tr td p ~ p {
          margin-top: 10px; }
@media (min-width: 768px) {
  .location .table-wrap .table tbody tr th {
    width: 160px;
    font-size: 16px;
    padding-left: 40px; }
  .location .table-wrap .table tbody tr td {
    font-size: 15x;
    padding: 22px 40px; }
    .location .table-wrap .table tbody tr td p {
      display: inline-block;
      font-size: 15x; }
      .location .table-wrap .table tbody tr td p ~ p {
        margin-top: 0;
        margin-left: 25px; }
      .location .table-wrap .table tbody tr td p i {
        font-size: 14px; } }
@media (min-width: 992px) {
  .location .table-wrap .table tbody tr th {
    width: 240px; } }

.recruitment article ~ article {
  margin-top: 70px; }
  @media (min-width: 768px) {
    .recruitment article ~ article {
      margin-top: 90px; } }
  @media (min-width: 992px) {
    .recruitment article ~ article {
      margin-top: 120px; } }
.recruitment article .article-header {
  padding-bottom: 35px; }
  .recruitment article .article-header h3 {
    position: relative;
    font-size: 22px;
    color: #333;
    padding-left: 15px; }
    .recruitment article .article-header h3:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 2px;
      height: 20px;
      margin-top: -10px;
      display: block;
      content: "";
      background-color: #fba574; }
  .recruitment article .article-header p {
    font-size: 15px;
    color: #333;
    margin-top: 20px; }
  @media (min-width: 768px) {
    .recruitment article .article-header {
      padding-bottom: 45px; }
      .recruitment article .article-header h3 {
        font-size: 30px; }
        .recruitment article .article-header h3:before {
          width: 4px;
          height: 30px;
          margin-top: -15px; }
      .recruitment article .article-header p {
        font-size: 16px;
        margin-top: 50px; } }
.recruitment article.introduce .article-content ol > li {
  position: relative;
  padding-left: 25px; }
  .recruitment article.introduce .article-content ol > li ~ li {
    margin-top: 30px; }
  .recruitment article.introduce .article-content ol > li span {
    position: absolute;
    top: 1px;
    left: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    background-color: #035e95; }
  .recruitment article.introduce .article-content ol > li strong {
    font-size: 15px;
    color: #333; }
  .recruitment article.introduce .article-content ol > li .dash-list {
    margin-top: 10px; }
    .recruitment article.introduce .article-content ol > li .dash-list > li {
      font-size: 13px;
      color: #666;
      font-weight: 600;
      line-height: 24px; }
      .recruitment article.introduce .article-content ol > li .dash-list > li b {
        color: #035e95;
        font-weight: bold; }
      .recruitment article.introduce .article-content ol > li .dash-list > li small {
        font-size: 12px;
        color: #777;
        opacity: .8; }
      .recruitment article.introduce .article-content ol > li .dash-list > li:before {
        content: "-";
        margin-right: 3px; }
.recruitment article.introduce .article-content figure {
  margin-top: 40px; }
  .recruitment article.introduce .article-content figure .img-responsive {
    width: 100%; }
@media (min-width: 768px) {
  .recruitment article.introduce .article-content ol > li ~ li {
    margin-top: 40px; }
  .recruitment article.introduce .article-content ol > li strong {
    font-size: 16px; }
  .recruitment article.introduce .article-content ol > li .dash-list {
    margin-top: 15px; }
    .recruitment article.introduce .article-content ol > li .dash-list > li {
      font-size: 15px; }
  .recruitment article.introduce .article-content figure {
    margin-top: 50px; } }
@media (min-width: 992px) {
  .recruitment article.introduce .article-content ol > li .dash-list li {
    letter-spacing: -.5px; }
  .recruitment article.introduce .article-content figure {
    margin-top: 0; } }
.recruitment article.vision .article-content {
  text-align: center; }
  .recruitment article.vision .article-content ul > li ~ li .figure {
    margin-top: 60px; }
  .recruitment article.vision .article-content ul > li .figure {
    display: block;
    width: 174px;
    height: 174px;
    text-align: center;
    line-height: 170px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #f08501; }
    .recruitment article.vision .article-content ul > li .figure img {
      display: inline-block; }
  .recruitment article.vision .article-content ul > li .details {
    display: inline-block;
    text-align: left;
    margin-top: 30px; }
    .recruitment article.vision .article-content ul > li .details h4 {
      font-size: 15px;
      color: #333;
      font-weight: 600;
      font-family: 'Noto Sans', sans-serif;
      line-height: 24px;
      word-break: keep-all;
      text-align: center;
      margin-bottom: 30px; }
    .recruitment article.vision .article-content ul > li .details ol li {
      position: relative;
      font-size: 14px;
      line-height: 28px;
      color: #666;
      word-break: keep-all;
      padding-left: 25px; }
      .recruitment article.vision .article-content ul > li .details ol li span {
        position: absolute;
        top: 4px;
        left: 0;
        display: block;
        width: 18px;
        height: 18px;
        line-height: 20px;
        border-radius: 50%;
        text-align: center;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
        background-color: #fba574; }
    .recruitment article.vision .article-content ul > li .details p {
      font-size: 14px;
      color: #666;
      word-break: keep-all; }
@media (min-width: 768px) {
  .recruitment article.vision .article-content ul > li .figure {
    position: relative;
    z-index: 2;
    width: 200px;
    height: 200px;
    line-height: 196px;
    margin-top: 0 !important;
    background-color: #fff; } }
@media (min-width: 992px) {
  .recruitment article.vision .article-content ul {
    position: relative; }
    .recruitment article.vision .article-content ul:before {
      position: absolute;
      top: 100px;
      left: 50%;
      margin-left: -300px;
      display: block;
      width: 600px;
      content: "";
      border-top: 2px solid #f08501;
      z-index: 1; } }
.recruitment article.welfare .article-content ul > li ~ li {
  margin-top: 20px; }
.recruitment article.welfare .article-content ul > li figure .img-responsive {
  width: 100%; }
.recruitment article.welfare .article-content ul > li .details {
  padding: 35px 20px;
  border: 1px solid #e2e2e2;
  border-top: 0; }
  .recruitment article.welfare .article-content ul > li .details h4 {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 25px; }
  .recruitment article.welfare .article-content ul > li .details ol li {
    font-size: 14px;
    line-height: 24px;
    color: #666; }
@media (min-width: 768px) {
  .recruitment article.welfare .article-content ul > li ~ li {
    margin-top: 30px; }
  .recruitment article.welfare .article-content ul > li .details {
    text-align: center;
    padding: 45px 0 60px; }
    .recruitment article.welfare .article-content ul > li .details ol {
      text-align: left;
      display: inline-block;
      margin: 0 auto; }
      .recruitment article.welfare .article-content ul > li .details ol:nth-of-type(2) {
        margin-left: 30px; } }
@media (min-width: 1200px) {
  .recruitment article.welfare .article-content ul > li {
    overflow: hidden; }
    .recruitment article.welfare .article-content ul > li figure {
      width: 50%;
      float: left; }
      .recruitment article.welfare .article-content ul > li figure .img-responsive {
        height: 250px; }
    .recruitment article.welfare .article-content ul > li .details {
      width: 50%;
      height: 250px;
      float: left;
      border-left: 0;
      border-top: 1px solid #e2e2e2; }
      .recruitment article.welfare .article-content ul > li .details ol li {
        font-size: 15px;
        line-height: 30px; }
    .recruitment article.welfare .article-content ul > li:nth-of-type(1) .details {
      padding-top: 54px; }
    .recruitment article.welfare .article-content ul > li:nth-of-type(2) .details {
      padding-top: 38px; } }
.recruitment article.recruit-detailed .article-content .table-responsive {
  border: 0;
  margin: 0;
  border-top: 1px solid #035e95; }
  .recruitment article.recruit-detailed .article-content .table-responsive .table {
    margin: 0;
    border: 0; }
    .recruitment article.recruit-detailed .article-content .table-responsive .table thead tr th {
      font-size: 15px;
      color: #333;
      text-align: center;
      font-weight: 600;
      vertical-align: middle;
      padding: 20px 10px;
      border: 0;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background-color: #f2f7fa; }
      .recruitment article.recruit-detailed .article-content .table-responsive .table thead tr th:last-child {
        border-right: 0; }
      @media (min-width: 768px) {
        .recruitment article.recruit-detailed .article-content .table-responsive .table thead tr th {
          font-size: 16px; } }
    .recruitment article.recruit-detailed .article-content .table-responsive .table tbody tr td {
      font-size: 15px;
      color: #333;
      font-weight: 400;
      line-height: 28px;
      vertical-align: middle;
      padding: 40px 30px;
      border: 0;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }
      .recruitment article.recruit-detailed .article-content .table-responsive .table tbody tr td:first-child {
        font-weight: bold; }
      .recruitment article.recruit-detailed .article-content .table-responsive .table tbody tr td:last-child {
        border-right: 0; }
      .recruitment article.recruit-detailed .article-content .table-responsive .table tbody tr td p {
        color: #666;
        font-weight: 400; }
        .recruitment article.recruit-detailed .article-content .table-responsive .table tbody tr td p.summary {
          margin-bottom: 40px; }
      .recruitment article.recruit-detailed .article-content .table-responsive .table tbody tr td b {
        display: block;
        color: #333;
        font-weight: bold; }
        .recruitment article.recruit-detailed .article-content .table-responsive .table tbody tr td b ~ b {
          margin-top: 40px; }
      .recruitment article.recruit-detailed .article-content .table-responsive .table tbody tr td ul li {
        font-weight: 400;
        color: #666; }
      .recruitment article.recruit-detailed .article-content .table-responsive .table tbody tr td small {
        display: block;
        margin-top: 40px;
        font-size: 12px;
        color: #999;
        font-weight: 400;
        line-height: 20px; }
      @media (min-width: 768px) {
        .recruitment article.recruit-detailed .article-content .table-responsive .table tbody tr td {
          font-size: 16px;
          line-height: 28px; } }
.recruitment article.workplace .article-content dl {
  overflow: hidden; }
  .recruitment article.workplace .article-content dl dt {
    float: left;
    clear: both;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    line-height: 30px;
    margin-right: 20px; }
  .recruitment article.workplace .article-content dl dd {
    font-size: 14px;
    display: block;
    line-height: 30px;
    color: #666;
    font-weight: 400; }
.recruitment article.workplace .article-content address {
  font-size: 15px;
  color: #666;
  margin-top: 15px;
  font-weight: 400;
  line-height: 24px; }
@media (min-width: 768px) {
  .recruitment article.workplace .article-content dl dt {
    font-size: 16px;
    line-height: 34px; }
  .recruitment article.workplace .article-content dl dd {
    font-size: 16px;
    line-height: 34px; }
  .recruitment article.workplace .article-content address {
    font-size: 16px;
    line-height: 34px;
    margin-top: 10px; } }
.recruitment article.procedure .article-content ol {
  font-size: 0; }
  .recruitment article.procedure .article-content ol li {
    text-align: center;
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: #035e95; }
    .recruitment article.procedure .article-content ol li ~ li {
      margin-top: 60px; }
    .recruitment article.procedure .article-content ol li:after {
      position: absolute;
      bottom: -39px;
      right: 50%;
      margin-right: -8px;
      font-size: 18px;
      line-height: 18px;
      color: #005c94;
      font-family: "fontello";
      content: "\E803"; }
    .recruitment article.procedure .article-content ol li:nth-of-type(3):after {
      color: #fba574; }
    .recruitment article.procedure .article-content ol li:last-child {
      background-color: #fba574; }
      .recruitment article.procedure .article-content ol li:last-child:after {
        content: ""; }
  @media (min-width: 768px) {
    .recruitment article.procedure .article-content ol {
      text-align: center; }
      .recruitment article.procedure .article-content ol li {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 50px; }
        .recruitment article.procedure .article-content ol li ~ li {
          margin-top: 0; }
        .recruitment article.procedure .article-content ol li:last-child {
          margin-right: 0; }
        .recruitment article.procedure .article-content ol li:after {
          bottom: 77px;
          right: -35px;
          content: "\E809"; } }
  @media (min-width: 992px) {
    .recruitment article.procedure .article-content ol li {
      width: 180px;
      height: 180px;
      font-size: 18px;
      line-height: 180px;
      margin-right: 73px; }
      .recruitment article.procedure .article-content ol li:after {
        font-size: 25px;
        line-height: 25px; } }
  @media (min-width: 1200px) {
    .recruitment article.procedure .article-content ol li {
      margin-right: 123px; }
      .recruitment article.procedure .article-content ol li:after {
        right: -60px; } }
.recruitment article.submission-document .article-content p {
  font-size: 15px;
  color: #666;
  opacity: .8;
  line-height: 24px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .recruitment article.submission-document .article-content p {
      font-size: 16px; } }
.recruitment article.submission-document .article-content ul li ~ li {
  margin-top: 10px; }
.recruitment article.submission-document .article-content ul li dl {
  position: relative;
  padding-left: 70px; }
  .recruitment article.submission-document .article-content ul li dl dt {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    color: #333;
    font-weight: bold; }
  .recruitment article.submission-document .article-content ul li dl dd {
    font-size: 15px;
    color: #666;
    line-height: 24px; }
  @media (min-width: 768px) {
    .recruitment article.submission-document .article-content ul li dl dt {
      font-size: 16px; }
    .recruitment article.submission-document .article-content ul li dl dd {
      font-size: 16px; } }
.recruitment article.reception .article-content {
  text-align: center; }
  .recruitment article.reception .article-content .e-mail {
    font-size: 16px;
    color: #666; }
  .recruitment article.reception .article-content .btn-area {
    margin-top: 15px; }
    .recruitment article.reception .article-content .btn-area p .btn-blue {
      width: 300px;
      height: 62px;
      line-height: 62px;
      font-size: 16px;
      color: #fff;
      text-align: center;
      background-color: #035e95; }
@media (min-width: 768px) {
  .recruitment article.reception {
    position: relative; }
    .recruitment article.reception .article-content .e-mail {
      text-align: left; }
    .recruitment article.reception .article-content .btn-area {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0; }
      .recruitment article.reception .article-content .btn-area p .btn-blue {
        width: 320px; } }

/*# sourceMappingURL=contact.css.map */
